/* Make the image fully responsive */
        .carousel-inner img{
            max-width: 100%;
            height: auto;
         
          
        }
        html { font-size: 1rem; }

        @media (min-width: 100px) {
              html { font-size: 2.5rem; }
          }

          @media (min-width: 576px) {
              html { font-size: 2.5rem; }
          }
          @media (min-width: 768px) {
              html { font-size: 1.8rem; }
          }
          @media (min-width: 992px) {
              html { font-size: 1.75rem; }
          }
          @media (min-width: 1200px) {
              html { font-size: 1.5rem; }
          }

          @media (min-width: 1500px) {
              html { font-size: 1rem; }
          }